@CHARSET "UTF-8";

html, body {
   position: relative;
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
   font: 1em arial, sans-serif;
   color: #333333;
}

div {
   display: block;
   margin: 0px;
   padding: 0px;
}

.main-container {
   position: relative;
   height: 100%;
   width: 100%;
}

.heder {
   position: absolute;
   top: 0px;
   right: 0px;
   left: 0px;
   height: 80px;
   border-bottom: 1px solid #333333;
}

.body {
   position: absolute;
   top: 81px;
   right: 0px;
   left: 0px;
   bottom: 0px;
}

.title {
   font-size: 3em;
   font-weight: bold;
   color: #3366ff;
}

.login-form {
   position: relative;
   top: 40%;
   margin: auto;
   width: 60%;
   border: 3px solid #0080ff;
   padding: 10px;
}

input.bottomline {
   border: 0px;
   border-bottom: 1px solid black;
}

input.invisible {
   border: 0px;
}

.row {
   display: block;
   width: auto;
   min-height: 30px;
   padding: 6px;
}

.row.center {
   text-align: center;
}

.cell {
   display: inline-block;
   vertical-align: text-bottom;
   padding: 4px;
}
.cell.left {
   float: left;
}

.cell.right {
   float: right;
}

.clear {
   clear: both;
}